doctype html
html
  head
    include head.pug
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    include dashboardLayout.pug
    section.firstSection 안녕하세요
    section.secondSection 반갑습니다