extends layout

block content
  h1= title
  button= title
  p Welcome to #{title}

  form#ajaxFrom(enctype="multipart/form-data")
    input#ajaxFile(type="file")
    input(type="button" onclick="upload();" value="업로드")

  script.
      function upload() {
          var file = document.getElementById('ajaxFile').files[0];

          $.ajax({
              type: 'get',
              url: 'presignedUrl',
              success: function (url) {
                  console.log(url);
                  $.ajax({
                      type: 'put',
                      url: url,
                      contentType: false,
                      processData: false,
                      data: file,
                  });
              },
              error: function (err) {
                  console.log(err);
              }
          })
      }
