extends layout

block content
    h1 Testing!

    p Welcome to Zejjibeck

    button#btn Test!

    img(id="testImage")

    script.

        var checkBtn = document.getElementById("btn").addEventListener("click",showImage);

        function showImage(){
            $.ajax({
                type:'GET',
                url:'/presignedUrl',
                success:function(url){ // 요청 성공 시

                    var img = document.getElementById('testImage');
                    img.src = url;
                    console.log("success");
                },
                error:function(err){
                    console.log(err);
                }
            })
        }
