extends layout

block content
    h1 Testing!
    p Welcome to Zejjibeck

    p
        audio#myaudio(controls='')
            source(type = 'audio/mp3')

    button#btn Test!

    img(id = "testImage")

    form#ajaxFrom(enctype="multipart/form-data")
        input#ajaxFile(type="file", multiple="multiple")
        input(type="button" onclick="upload();" value="업로드")

    script.
        function upload() {
            var file = document.getElementById('ajaxFile').files;

            if(file.length > 0) {
                for (var i = 0; i < file.length; i++) {
                    $.ajax({
                        type: 'GET',
                        url: 'presignedUploadUrl/' + file[i].name,
                        success: function (url) {
                            $.ajax({
                                type: 'PUT',
                                url: url,
                                contentType: false,
                                processData: false,
                                data: file[i],
                            })
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            }
        }

        $.ajax({
            type:'GET',
            url:'/presignedAudioUrl',
            success:function(url){
                var audio = document.getElementById('myaudio');

                audio.src = url;
                //audio.source = url;

                console.log("url : " + url);
            },
            error:function(err){
                console.log(err);
            }
        })

        var checkBtn = document.getElementById("btn").addEventListener("click", showImage);

        function showImage() {
            $.ajax({
                type: 'GET',
                url: '/presignedImageUrl',
                success: function (url) { // 요청 성공 시
                    var img = document.getElementById('testImage');
                    img.src = url;
                    console.log("success");
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
