doctype html
html
    head
        include head.pug
        title Login
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        include navbar.pug
        .container
            .title Welcome back!
            .text Don't have an account?
                a(href='/signUp') Sign Up
            input.id(type="text", name="userID", placeholder="Email")
            input.password(type="password", name="password", placeholder="Password")
            a.login.btn Sign In
            a.google.btn Sign in with Google
            .text Forgot your password?
                a Reset it
script.

    $('.login.btn').click(function(){
        var id = String(document.getElementsByName('userID').item(0).value);
        var password = String(document.getElementsByName('password').item(0).value);
        console.log(document.getElementsByName('userID').item(0).value);
        var url = "/login/certification";
        $.ajax({
            type: 'get',
            url:url,
            data:{id: id, password: password},
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.pass == 'ok')
                {
                    alert('login success');
                    window.location.href = '/users';
                }
                else
                {
                    alert('login fail');
                }
            },
            error:function(err){console.log(err);}
        })
    });