doctype html
html
    head
        include head.pug
        title SIGN UP
        link(rel="stylesheet", href="/stylesheets/signUp.css")
    body
        include navbar.pug
        .container
            .title Let's create an account
            .text Already have an account?
                a(href="/login") Log In
            input#name(type="text", placeholder="Full Name")
            input#id(type="text", placeholder="Email")
            input#password(type="password", placeholder="Password")
            .btn.register REGISTER

script.

    $('.btn.register').click(function(){
        var email = String(document.getElementById('id').value);
        var name = String(document.getElementById('name').value);
        var password = String(document.getElementById('password').value);

        $.ajax({
            type: 'post',
            url:'/signUp/confirm',
            data:{userId: email, password: password, username: name},
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.pass == 'ok')
                {
                    alert('signUp complete');
                    window.location.href = '/login';
                }
                else
                {
                    alert('exist id');
                }
            },
            error:function(err){console.log(err);}
        })
    });