doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title SignUp
        link(rel='stylesheet', href='/stylesheets/login.css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    body
        include navbar.pug
        .container

            input.id(type="text", name="email", placeholder="Email")
            input.name(type="text", name="userName", placeholder="user name")
            input.password(type="password", name="password", placeholder="Password")
            a.login.btn Sign Up
script.

    $('.login.btn').click(function(){
        var email = String(document.getElementsByName('email').item(0).value);
        var name = String(document.getElementsByName('userName').item(0).value);
        var password = String(document.getElementsByName('password').item(0).value);

        $.ajax({
            type: 'post',
            url:'/signup/confirm',
            data:{userId: email, password: password, username: name},
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.pass == 'ok')
                {
                    alert('signup complete');
                    window.location.href = '/login';
                }
                else
                {
                    alert('exist id');
                }
            },
            error:function(err){console.log(err);}
        })
    });