doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Test Page
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  body
    include navbar.pug
    .container
      .title Please select the next type of Picture.
        p
          audio#myaudio(controls='')
            source(src = audioUrl, type = 'audio/mp3')
        p
          input(type="radio", name="radioSelect", value="0")
          | Cat
        p
          input(type="radio", name="radioSelect", value="1")
          | iPhone
        p
          input(type="radio", name="radioSelect", value="2")
          | Coffee
        p
          input(type="radio", name="radioSelect", value="3")
          | CD
        p
          input(type="radio", name="radioSelect", value="4")
          | Cap