extends layout

block content
    p
    h1(id = 'description', a)

    img(src = imageUrl, id = "testImage")

    button#btn Test!

    input(id = 'checkbox', type='checkbox')

    script.
        function upload() {
            var file = document.getElementById('ajaxFile').files;

            if(file.length > 0) {
                for (var i = 0; i < file.length; i++) {
                    var fileURL = '/s3/putPresignedUrl/' + file[i].name;
                    var sendFile = file[i];

                    $.ajax({
                        type: 'get',
                        url: fileURL,
                        success: function (url) {
                            $.ajax({
                                type: 'put',
                                url: url,
                                contentType: false,
                                processData: false,
                                data: sendFile,
                            })
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            }
        }

        $.ajax({
            type:'GET',
            url:'/presignedAudioUrl',
            success:function(url){
                var audio = document.getElementById('myaudio');

                audio.src = url;

                console.log("url : " + url);
            },
            error:function(err){
                console.log(err);
            }
        })

        var checkBtn = document.getElementById("btn").addEventListener("click", showImage);

        function showImage() {
            $.ajax({
                type: 'GET',
                url: '/s3/presignedImageUrl',
                success: function (url) { // 요청 성공 시
                    var img = document.getElementById('testImage');
                    img.src = url;
                    console.log("success");
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }