* {
	border: 0;
	box-sizing: border-box;
	color: #3c4858;
	font-size: 14px;
	font-family: 'Spoqa Han Sans', 'Sans-serif'; 
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.btn {
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.2;
	position: relative;
	user-select: none;
}

.btn::after {
	display: block;
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
}
 
.btn:hover::after {
	content: "";
	background-color: #fff;
	opacity: 0.08;
}

.btn:active::after {
	content: "";
	background-color: #000;
	opacity: 0.16;
}

html {
	height: 100%;
}
body {
	height: 100%;
}

body > nav {
	height: 100px;
	background-color: inherit;
}

.scrolled {
	height: 60px;
	background-color: rgba(0,0,0,0.8);
}

.sectionFirst {
	background-image: url('/icon/paper-3249919_1920.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	align-items: center;
}

.sectionFirst > .imgCover {
	background-image: linear-gradient(127deg, rgba(40, 47, 62, 0.9), rgba(40, 47, 62, 0.82) 34%, rgba(40, 47, 62, 0.75)); 
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height: 100%;
}

.sectionFirst > .imgCover > .container > .slogan {
	color: #fff;
	font-size: 54px;
	font-weight: 100;
	margin: auto;
	padding-bottom: 20px;
}

.sectionFirst > .imgCover > .container > .text {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
	padding-bottom: 40px;
}

.sectionFirst > .imgCover > .container > .sign {
	display: flex;
	flex-flow: column;
	width: 80%;
	margin: auto;
}

.sectionFirst > .imgCover > .container > .sign > .signIn {
	color: #fff;
	border-width: 0;
	background-color:#2E76B1;
	font-size: 20px; 
	padding: 16px 70px;
	
}

.sectionFirst > .imgCover > .container > .sign > .signUp {
	color: #fff;
	float: right;
	text-align: right;
	margin-top: 15px;
	font-weight: 100;
}

.sectionSecond {
	padding: 120px 0 180px;
}
.sectionSecond > .container {
	display: flex;
	flex-flow: row;
	max-width: 1080px;
	margin: auto;
}

.sectionSecond > .container > .content {
	text-align: center;
	padding:0 30px;
}

.sectionSecond > .container > .content > .title {
	font-size: 24px;
	margin-top: 20px;
}

.sectionSecond > .container > .content > .text {
	margin-top: 15px;
}

.sectionThird {
	background-color: #242424;
	height: 400px;
	padding-top: 120px;
	text-align: center;
}
.sectionThird > .text {
	font-size: 18px;
	color: #777;
}


@media only screen and (max-width: 1080px) {
	.container {
		padding: 0 20px;
	}
	.sectionSecond > .container {
		flex-flow: column;
	}
	.sectionSecond > .container > .content {
		padding: 50px 15px;
	}
	.sectionSecond > .container > .content > .text{
		max-width: 320px;
		margin: 15px auto;
	}
}

@media only screen and (max-width: 550px) {
	.sectionFirst > .imgCover > .container > .slogan {
		font-size: 28px;
	}
	.sectionFirst > .imgCover > .container > .text {
		font-size: 14px;
	}
	.sectionFirst > .imgCover > .container > .sign > .signIn{
		font-size: 16px;
	}
	.sectionFirst > .imgCover > .container > .sign > .signUp{
		font-size: 12px;
	}
}
