extends layout

block content
  h1= title
  p Welcome to #{title}
  button#btnOn Turn On

  script.
    var btnOn = document.getElementById("btnOn").addEventListener("click", fOn);

    function fOn(){
      console.log("ON!");
      $.ajax({
        type: 'get',
        url:'/on',
        success: function(){
          console.log("turn on!");
        },
        error: function () {
          console.log("fail to turning on");
        }
      })
    }
